.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex-item {
    width: 100%;
    margin: 10px;
    
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    /*font-size: 48px;
    font-weight: 800;
    margin: 0%;
    border: 0px;*/
    display: flex;
    margin: 0px;
    padding: 20px;
    
    justify-content: center;
    flex: 1 1 100px;
    
}

.landing-info {
    margin: 20px;
    
}

.logo {
    
    color: #f9faf8;
    font-size: 24px;
    flex: 1 1 0px;
    margin: 0%;
    border: 0px;
    text-align: start;
}

.main-title {
    
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    flex: 1 1 0px;
    margin: 20px;
    
}

.sign-up {
    display: flex;
    max-width: 400px;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.course-selector {
    display: flex;
    flex-direction: column;
    
    flex: 1 1 0px;
}

.course-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.course-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.image-box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    
    border: blue solid 2px;
}

.course-info {
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.course-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    flex: 1 1 0px;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
    flex: 0.1 0.1 20px;
}

.top-panel {
    
    display: flex;
    background-color: #1f2937;
    flex: 1;
    min-width: 100%;
    
    
}

.links-panel {
    display: flex;
    background-color: #1f2937;
    flex: 1 1 0px;
    
    color: #e5e7eb;
    justify-content: space-around;
    text-align: center;
    
}

img {
    height: auto;
    width: 500px;
}

.button {
    background-color: #3882f6;
    max-width: 50px;
    border-radius: 5px;
}

.button.white-border {
    background-color: #3882f6;
    border: white solid 2px;
    max-width: 50px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.promotional-info {
    padding: 20px;
    margin: 20px;
}